.text-right {
  text-align: right;
  font-size: xx-small;
}

.entry {
  padding: 10px;
}

.vertical-text {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #FFA500;
  color: black;
  border-color: black;
  font-weight: bold;
  border-top-width: 3px;
  border-left-width: 3px;
}

.title-container {
  background-color: #FFA500;
  color: black;
  padding: 10px; 
  margin-bottom: 20px;
  margin-top: 1px;
}

.center-bar {
  background-color: #eee;
  height: 100vh;
}